.user-reviews {
  color: #333333;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  padding: 20px 21px 24px 20px;
  width: 667px;
}

.user-reviews h2 {
  color: #424242;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 0px 0px 12px;
}

.user-reviews hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

.user-reviews p {
  margin-top: 6.5px;
  margin-bottom: 9.75px;
}

.user-reviews .user-review-box {
  margin-top: 9.75px;
}

.user-reviews .user-review-byline {
  color: #333333;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 11px;
  margin-bottom: 16px;
}

.user-reviews .user-review-recs {
  color: #333333;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 11px;
  margin-bottom: 12px;
}

.user-reviews .user-review-stars {
  background-image: url(https://m.media-amazon.com/images/G/01/imdb/images/tn15/starstiny-3317719365._V_.png);
  background-position-y: -12px;
  float: left;
  height: 12px;
  width: 100px;
  margin-right: 10px;
}

.user-reviews .user-review-stars div {
  background-image: url(https://m.media-amazon.com/images/G/01/imdb/images/tn15/starstiny-3317719365._V_.png);
  height: 12px;
  width: 90px;
}
